        * {
            font-family: sans-serif;
            margin: 0;
            font-size: 10px;
            padding: 0;
            box-sizing: border-box;
            color: #ddd;

        }

        nav {
            height: 15vh;
            width: 100vw;
            background-color: #909AAB;
            border-bottom: 1px solid black;
        }

        nav button {
            position: absolute;
            top: 2%;
            line-height: 10vh;
            height: 10vh;
            width: 40vw;
            background-color: #7BA1E3;
            cursor: pointer;
            border: 1px solid #909AAB;
            padding: 5px;
            border-radius: 5%;
        }

        .ico {
            position: relative;
            top: 30%;
            left: 10%;
            height: 6rem;
            width: 40%;
            box-shadow: inset 0px 1px 3px 0px #91b8b3;
            background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
            background-color: #768d87;
            border-radius: 5px;
            border: 1px solid #566963;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 20px;
            font-weight: bold;
            padding: 11px 23px;
            text-decoration: none;
            text-shadow: 0px -1px 0px #2b665e;
            text-align: center;
            line-height: 4rem;
        }

        .ico:hover {
            background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
            background-color: #6c7c7c;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 200%;
        }

        i{
            font-size: 90%;
            margin-right: 10px;
        }
        .results {
            background-color: #33435E;
            height: 75vh;
            width: 100vw;
        }

        .results p {
            text-align: center;
            font-size: 300%;
            height: 10vh;
            line-height: 10vh;
            padding: 50px;
        }
        span {
            font-size: 45px;
            color: black;
        }
        .button{
            margin-top: 10px;
        }
        .refresh {
            position: absolute;
            bottom: 25%;
            left: 20vw;
            width: 60vw;
            height: 7rem;
            box-shadow: 0px 10px 14px -7px #3e7327;
            background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
            background-color: #77b55a;
            border-radius: 4px;
            border: 1px solid #4b8f29;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 20px;
            font-weight: bold;
            padding: 6px 12px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #5b8a3c;
        }

        .refresh:hover {
            background: linear-gradient(to bottom, #579e37 5%, #77b55a 100%);
            background-color: #579e37;
        }

        footer {
            width: 100vw;
            background-color: #909AAB;
            height: 10vh;
            text-align: center;
            line-height: 4.9vh;
            border-top: 1px solid black;
        }

        .info {
            font-size: 170%;
        }

        .dane {
            font-size: 130%;
        }
