<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ddd;
        }

        body {
            display: flex;
            flex-direction: column;

        }

        nav {
            height: 15vh;
            width: 100vw;
            border-bottom: 1px solid black;
            background-color: #909AAB;
        }

        main {
            background-color: #33435E;
            height: 75vh;
            width: 100vw;
            text-align: center;
            padding: 10px;
        }

        h1{padding: 20px;}

        form {
            padding: 20px;
            margin-top: 50px;
        }

        input {
            height: 3vh;
            color: black;
            background-color: #909AAB;
            height: 27px;
            padding: 10px;
            font-size: 15px;
        }
        p {
            margin-bottom: 10px;
        }

        footer {
            width: 100vw;
            background-color: #909AAB;
            height: 10vh;
            text-align: center;
            line-height: 4.9vh;
            border-top: 1px solid black;

        }
    </style>
</head>

<body>

    <nav>{% block content %}
        <h1>Zaloguj się, by korzystać z pełnej funkcjonalności strony.</h1>
    </nav>

    <main>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.remember() }} {{ form.remember.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endblock %}
    </main>
    <footer></footer>
</body>

</html>
