<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <title>Bieżące dane</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="static/css/fontello.css">
    <link rel="stylesheet" href="static/css/now.css">
    <link type="text/css">
    
</head>

<body>
    <nav>
        <a href="/wykres" class="ico"><i class="icon-chart-line"></i>Wykres</a>
        <a href="/stat" class="ico"><i class="icon-chart-bar"></i> Statystyki</a>
<div>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}"style="font-size: 150%; padding-left: 5px;">Zaloguj się</a><br><br>
        <a href="{{ url_for('signup') }}"style="font-size: 150%; padding-left: 5px;"> Rejestruj się</a>
        {% else %}
        <a href="{{ url_for('logout') }}" style="font-size: 150%; padding-left: 5px;">Wyloguj</a>
        {% endif %}
</div>
        
    </nav>
    <main>
        <section class="results">
            <p><i class="icon-temperatire"></i>Temperatura: <span> {{temperature}} °C</span></p>
            <p><i class="icon-water"></i> Wilgotność: <span> {{humidity}}% RH</span> </p>
            <p><i class=" icon-chart-line"></i> Ciśnienie: <span>{{pressure}} hPa </span> </p>
            <input  type="button" class="refresh" value="Odśwież" onClick="location.reload();" />
        </section>
    </main>
    <footer>
        <div class="info">Praca inżynierska - Zastosowanie Raspberry Pi w Internecie Rzeczy. Informatyka w biznesie, rok 2021.</div>
        <div class="dane">Autorzy: Daniel Gorzka, Iwo Banaszak, Kornel Knop, Norbert Książek</div>
    </footer>

</body>

</html>

