<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarejestruj się</title>
    <style>
        * {
            font-family: sans-serif;
            margin: 0;
            font-size: 10px;
            padding: 0;
            box-sizing: border-box;
            color: #ddd;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        nav {
            height: 15vh;
            width: 100vw;
            border-bottom: 1px solid black;
            background-image: url("/home/pi/flasktest/static/css/logo.png");
            background-position: center;
            background-size: 25%;
            background-repeat: no-repeat;
            background-color: #909AAB;
        }
        
        h1{
            font-size: 300%;
            text-align: center;
            padding: 20px;
            }
            
        h2{
            font-size: 150%;
            padding-top: 20px;
            }
            
        main {
            background-color: #33435E;
            height: 75vh;
            width: 100vw;
            text-align: center;
            padding: 10px;
        }


        form {
            padding: 20px;
            margin-top: 50px;
        }

        input {
            height: 3vh;
            color: black;
            background-color: #909AAB;
            height: 27px;
            padding: 10px;
            font-size: 15px;
        }

        p {
            margin-bottom: 10px;
            font-size: 200%;
        }
        
        .rej{
            padding: 20px;
            }
        
        footer{
            width: 100vw;
            background-color: #909AAB;
            height: 10vh;
            text-align: center;
            line-height: 4.9vh;
            border-top: 1px solid black;
            font-size: 170%;
        }
    </style>
</head>

<body>
    <nav> 
       <h1>Witamy w aplikacji - Multi-sensor</h1>
    </nav>
    <main>
         <h2>Podaj dane niezbędne do rejestracji</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=40) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="rej">{{ form.submit() }}</p>
        </form>
    </main>
    <footer> Praca inżynierska - Zastosowanie Raspberry Pi w Internecie Rzeczy. Informatyka w biznesie, rok 2021.</footer>
</body>

</html>
